.calculator {
  margin: 20px auto;
  width: 75vw;
  height: 50vh;

  &__screen {
    width: 100%;
    height: 20%;
    border: 1px solid gray;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0.5rem 1rem 0.2rem 0;

    &:hover {
      border-top: 2px solid gray;
    }

    &__answer {
      font-size: 0.8rem;
      color: gray;
    }
    &__input {
      font-size: 1.5rem !important;
    }
  }
  &__buttons {
    width: 100%;
    height: 80%;
    padding-top: 0.7rem;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(5, 5fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
}
